<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestion Relative Humidity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <style>


        /***************************************************************************************/
        /*
        /*		Designed by 'MEGGOURI Ismail and AMSSAYEF Ibrahim'
        /*		GitHub: https://github.com/meggouriIsmail
        /*		Linkedin: https://ma.linkedin.com/in/brahim-amssayef-08080317b
        /*		License: MIT Commercial
        /*
        /**************************************************************************************/
    </style>
</head>
<body>
    <div class="m-0 p-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/particles.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
