@model Gestion_Relative_Humidity.ViewModel.HumidityModel

@{
ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>HumidityModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StationId" class="control-label"></label>
                <select asp-for="StationId" class="form-control" asp-items="@(new SelectList(Model.Stations, "StationId", "NomStation"))"></select>
                <span asp-validation-for="StationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sec" class="control-label"></label>
                <input asp-for="Sec" class="form-control" />
                <span asp-validation-for="Sec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mou" class="control-label"></label>
                <input asp-for="Mou" class="form-control" />
                <span asp-validation-for="Mou" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hum" class="control-label"></label>
                <input asp-for="Hum" class="form-control" />
                <span asp-validation-for="Hum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThermometreMin" class="control-label"></label>
                <input asp-for="ThermometreMin" class="form-control" />
                <span asp-validation-for="ThermometreMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThermometreMax" class="control-label"></label>
                <input asp-for="ThermometreMax" class="form-control" />
                <span asp-validation-for="ThermometreMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThermometreMoyMaxMin" class="control-label"></label>
                <input asp-for="ThermometreMoyMaxMin" class="form-control" />
                <span asp-validation-for="ThermometreMoyMaxMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThermometreMA" class="control-label"></label>
                <input asp-for="ThermometreMA" class="form-control" />
                <span asp-validation-for="ThermometreMA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThermometreMI" class="control-label"></label>
                <input asp-for="ThermometreMI" class="form-control" />
                <span asp-validation-for="ThermometreMI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heur" class="control-label"></label>
                <input asp-for="Heur" class="form-control" />
                <span asp-validation-for="Heur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateObservation" class="control-label"></label>
                <input asp-for="DateObservation" class="form-control" />
                <span asp-validation-for="DateObservation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
