
@{
    ViewData["Title"] = "Contact";
}

<div class="overflow-hidden">
    <h2 class="mb-5">Contact</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-xl-6 p-1 col-md-10 col-sm-6">
            <img src="~/images/github_64px.png" style="margin: auto 10%; height:150px">
            <div style="margin: 30px;">
                <h3>MEGGOURI ISMAIL</h3>
                <p>I am a Full Stack Developer</p>
            </div>
            <ul class="ml-2 d-inline-flex align-items-center justify-content-around">
                <li>
                    <a href="https://ma.linkedin.com/in/ismail-meggouri-7437a71b4" target="_blank" rel="noreferrer">
                        <img src="~/images/linkedin_64px.png" alt="linkedin" />
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ismail_meggouri/?hl=en" target="_blank" rel="noreferrer">
                        <img src="~/images/instagram_64px.png" alt="instagram" />
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/el.meggo" target="_blank" rel="noreferrer">
                        <img src="~/images/facebook_64px.png" alt="facebook" />
                    </a>
                </li>
                <li>
                    <a href="https://github.com/meggouriIsmail" target="_blank" rel="noreferrer">
                        <img src="~/images/github_64px.png" alt="github" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 p-1 col-md-10 col-sm-6">
            <img src="~/images/github_64px.png" style="margin: auto 10%; height:150px">
            <div style="margin: 30px;">
                <h3>AMSSAYEF Ibrahim</h3>
                <p>I am a Full Stack Developer</p>
            </div>
            <ul class="d-inline-flex align-items-center justify-content-between">
                <li>
                    <a href="https://ma.linkedin.com/in/ismail-meggouri-7437a71b4" target="_blank" rel="noreferrer">
                        <img src="~/images/linkedin_64px.png" alt="linkedin" />
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ismail_meggouri/?hl=en" target="_blank" rel="noreferrer">
                        <img src="~/images/instagram_64px.png" alt="instagram" />
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/el.meggo" target="_blank" rel="noreferrer">
                        <img src="~/images/facebook_64px.png" alt="facebook" />
                    </a>
                </li>
                <li>
                    <a href="https://github.com/meggouriIsmail" target="_blank" rel="noreferrer">
                        <img src="~/images/github_64px.png" alt="github" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

