
@{
    ViewData["Title"] = "Contact";
}

<div>
    <h1>Contact</h1>

    <div class="row justify-content-center overflow-hidden">
        <div class="col-12 col-lg-6 col-xl-6 p-1 col-md-10 col-sm-6">
            <div class="p-1 pl-5">
                <ul className="">
                    <li>
                        <a href="https://ma.linkedin.com/in/ismail-meggouri-7437a71b4" target="_blank" rel="noreferrer">
                            <img src="~/images/linkedin_64px.png" alt="linkedin" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ismail_meggouri/?hl=en" target="_blank" rel="noreferrer">
                            <img src="~/images/instagram_64px.png" alt="instagram" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/el.meggo" target="_blank" rel="noreferrer">
                            <img src="~/images/facebook_64px.png" alt="facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/meggouriIsmail" target="_blank" rel="noreferrer">
                            <img src="~/images/github_64px.png" alt="github" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 p-1 col-md-10 col-sm-6">
            <div class="p-1 pl-5">
                <ul className="">
                    <li>
                        <a href="https://ma.linkedin.com/in/ismail-meggouri-7437a71b4" target="_blank" rel="noreferrer">
                            <img src="~/images/linkedin_64px.png" alt="linkedin" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ismail_meggouri/?hl=en" target="_blank" rel="noreferrer">
                            <img src="~/images/instagram_64px.png" alt="instagram" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/el.meggo" target="_blank" rel="noreferrer">
                            <img src="~/images/facebook_64px.png" alt="facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/meggouriIsmail" target="_blank" rel="noreferrer">
                            <img src="~/images/github_64px.png" alt="github" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

