
@{
    ViewData["Title"] = "Contact";
}

<div class="overflow-hidden">
    <div class="text-center bg-info">
        <h1 class="p-5 text-white font-weight-bolder">Contact</h1>
    </div>
    <div class="row justify-content-around mt-3">
        <div class="col-10 col-lg-3 col-xl-3 p-1 col-md-10 col-sm-3 text-center">
            <img src="~/images/meggouri.png" style="margin: auto 10%; height:150px">
            <div style="margin: 30px;">
                <h3>MEGGOURI ISMAIL</h3>
                <p>I am a Full Stack Developer</p>
            </div>
            <ul class="ml-2 d-inline-flex align-items-center justify-content-around">
                <li>
                    <a href="https://ma.linkedin.com/in/ismail-meggouri-7437a71b4" target="_blank" rel="noreferrer">
                        <img src="~/images/linkedin_64px.png" alt="linkedin" />
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ismail_meggouri/?hl=en" target="_blank" rel="noreferrer">
                        <img src="~/images/instagram_64px.png" alt="instagram" />
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/el.meggo" target="_blank" rel="noreferrer">
                        <img src="~/images/facebook_64px.png" alt="facebook" />
                    </a>
                </li>
                <li>
                    <a href="https://github.com/meggouriIsmail" target="_blank" rel="noreferrer">
                        <img src="~/images/github_64px.png" alt="github" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-10 col-lg-3 col-xl-3 p-1 col-md-10 col-sm-3 text-center">
            <img src="~/images/amssayef.png" style="margin: auto 10%; height:150px">
            <div style="margin: 30px;">
                <h3>AMSSAYEF Ibrahim</h3>
                <p>I am a Full Stack Developer</p>
            </div>
            <ul class="d-inline-flex align-items-center justify-content-between">
                <li>
                    <a href="https://ma.linkedin.com/in/brahim-amssayef-08080317b" target="_blank" rel="noreferrer">
                        <img src="~/images/linkedin_64px.png" alt="linkedin" />
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/baamif" target="_blank" rel="noreferrer">
                        <img src="~/images/instagram_64px.png" alt="instagram" />
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/bra.amsif" target="_blank" rel="noreferrer">
                        <img src="~/images/facebook_64px.png" alt="facebook" />
                    </a>
                </li>
                <li>
                    <a href="https://github.com/BRAAMSIF" target="_blank" rel="noreferrer">
                        <img src="~/images/github_64px.png" alt="github" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    body {
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
</style>

