
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron-fluid bg-transparent position-relative overflow-hidden">
    <img src="~/images/space-earth-sun.jpg" class="absImage"/>
    <div class="content">
        <h1>Bonjour أهلًا وسهلًا</h1>
        <p>
            Lorem Ipsum is simply dummy text of the printing and 
            typesettinly unchanged. It was popularised in the 1960s with the release 
            of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <a asp-controller="Humidity" asp-action="Index" class="btn btn-info ">
            Remplire la fiche des Données تعبئة ورقة البيانات
        </a>
    </div>
</div>

<style>
    .absImage {
        height: 100vh;
        width: 100%;
    }
    .content {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%);
        color: #fbfbfb;
        z-index: 10;
    }
</style>