@model Gestion_Relative_Humidity.ViewModel.UserModel

@{
    ViewData["Title"] = "Login";
}

  <div class="bg" id="particles-js">
    <img src="~/images/banner.jpg" class="absImage" />

    <!-- //particles -->
    <div class="w3ls-pos">
        <h1>Particles Login Form</h1>
        <div class="w3ls-login box">
            <!-- form starts here -->
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="agile-field-txt">
                    <input asp-for="Email" type="text" placeholder="info@example.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="agile-field-txt">
                    <input asp-for="Password" placeholder="******" id="myInput" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <br />
                </div>
                <div class="w3ls-bot">
                    <input type="submit" value="LOGIN">
                </div>
            </form>
        </div>
        <!-- //form ends here -->
        <!--copyright-->
        <div class="copy-wthree">
            <p>
                © 2018 Particles Login Form. All Rights Reserved | Design by
                <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
            </p>
        </div>
        <!--//copyright-->
    </div>
</div>
<style>
    body {
        overflow: hidden;
    }
    .absImage {
        height: 100vh;
        width: 100%;
    }

    .content {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%);
        color: #fbfbfb;
        z-index: 10;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
